
.head-sec{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}
.header-text{
    margin-right: 40px;
}
.header-text h1{
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 10px;
}
.header-text p{
    font-weight: 500;
    font-size: 18px;
    height: 59px;
    width: 557px;
    color: #5b5b5b;
    margin-bottom: 32px;
}
.ser-head-buttom{
    margin-top: 24px;

}




.latest-section{
    background-color: #DCEAF5;
    padding-top: 90px;
    padding-bottom: 90px;
}
.blog-items{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-bottom: 100px;
}
.latest-section .latest-tit{
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.latest-section .blog-item{
    border-radius: 20px;
    background-color: #fff;
    width: 400px;
}
.blog-item img{
    border-radius:20px 20px 0 0 ;
}
.blog-item-text{
    margin:  0 32px 32px;
}
.blog-item .info-tit{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #0D1317;
}
.blog-item .info-text{
    font-weight: 500;
    line-height: 28px;
    color: #5B5B5B;
}
.blog-item .info-buttom{
    color: #F58A07;
    font-weight: 500;
    line-height: 17px;
}

.careers-head h1{
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.careers{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-bottom: 120px;
}
.career{
    width: 400px;
    margin: 20px;
    background-color: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
}
.career-text-cont{
    margin: 32px 40px;
}
.careers .developer, .developer2{
    margin-left: 0;
}
.careers .manager{
    margin-right: 0;
}
.careers h1{
    font-weight: 500;
    font-size: 24px;
    color: #0D1317;
}
.careers p{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #394149;
}
.careers .career-link{
    color: #F58A07;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    
}
