
.header-section{
    background-color: #DCEAF5;
    position: relative;
    margin-top: 20px;
    height: 703px;
    display: flex;
}
.container{
    width: 1280px;
}
h1{
    font-size: 64px;
    line-height: 72px;
}
.header-text>p{
    font-size: 18px;
    font-weight: 500;
    color:  #5B5B5B;
}
.header-image{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: -20px;
}
.header-image img{
    position: absolute;
    bottom: 0;
}
.header-text{
    width: 50%;
}
.buttom-container{
    display: flex;
    justify-content: left;
    align-items:baseline ;
}

.all-service-buttom{
    color: #1D3444;
    margin-left:40px ;
}

.worked-tit{
    font-weight: 400;
    font-size: 18px;
    color: rgba(57, 65, 73, 0.5);
    margin-top: 50px;
}
.logos{
    display: flex;
    justify-content: flex-start;
}
.logos img{
    margin-right: 45px;
}
/** help section**/
.help-section{
    display: block;
    margin: 0 auto;
}

.help-section h2{
    font-size: 48px;
    line-height: 56px;
    width: 735px;
}
.help-section>p{
    color:  #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    width: 735px;
}
.help-p{
    width: 735px;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    margin-bottom: 60px;
}
.detail_info{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-bottom: 100px;
}
.detail_info img{
    border-radius: 20px;
    width: 400px;
    height: 242px;
}
.info-tit{
    font-size: 24px;
    line-height: 25px;
    color: #000;
}
.info-text{
    color: #5B5B5B;
    line-height: 28px;
    width: 400px;
}
.info-buttom{
    color: #F58A07;
    line-height: 17px;
}
/** feature section**/
.feaures-sction{
    background-color:  #EDF7FF;
}

.sec-info{
    display: flex;
    justify-content: space-between;
}
.sec-info h1{
    font-size: 36px;
    line-height: 44px;
    color: #0D1317;
    width: 50%;
    margin-top:0 ;
}
.sec-info p{
    width: 50%;
    font-weight: 500;
    font-size: 18px;
    color: #1D3444;
    margin:0;
}
.sec-info h2{
    color: #F58A07;
    font-weight: 700;
    line-height: 50px;
}
.sec-info h3{
    font-size: 24px;
    line-height: 25px;
    color: #0D1317;
}
.sec-card-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 50px;
}
.union{
    background-color: #fff;
    width: 400px;
    height: 277px;
    border-radius: 20px;
}
.card-inside{
    margin: 48px 26px 37px 39px;
}
.sec-card-info img{
    width: 33px;
    height: 34px;
    text-align: left;
}
.sec-card-info p{
    color:  #5B5B5B;
    font-weight: 500;
    line-height: 28px;
}
/** about section**/
.about-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-us{
    display: flex;
    justify-content: space-around;
}
.about-text{
    width: 50%;
    margin-right: 30px;
    height: 549px;
}
.about-text h1{
    font-size: 48px;
    line-height: 56px;
}
.about-text p{
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
}
.sec-info .about-feature1,.about-feature2{
    width: 50%;
    text-align: left;
}
.about-image img{
    border-radius: 20px;
}

/** service section**/ 
.service-section{
    margin-bottom: 120px;
}
.service-back{
    background-color: #EDF7FF;
    border-radius: 20px;
    position: relative;
    height: 682px;
}
.ribbon{
    position: absolute;
    right: -15px;
    top: -15px;
}
.service-sec-tab{
    text-align: left;
    margin-left: 40px;
}
.service-sec-tab>p{
    display: inline-block;
    margin-right: 24px;
    margin-top: 48px;
}
.service-sec-title{
    display: flex;
    justify-content: space-between;
    margin-left: 48px;
    margin-top: 80px;
}
.ser-tit1{
    width: 50%;
    margin-right: 140px;
}
.service-sec-tab .tab1{
    background-color: #fff;
    padding: 8px 24px;
    border-radius: 31px;
    color: #F58A07;
}
.service-sec-tab .tab{
    border-radius: 31px;
    border: 1px solid  #A8BCCC;
    text-align: center;
    padding: 8px 24px;
}
.ser-tit1 h1{
    padding-top: 0;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.service-sec-title img{
    margin-right: 42px;
}
.ser-tit1 p{
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    margin-bottom: 20px;
}
.ser-tit1 .see-all{
    color: #F58A07;
    font-weight: 500;
    line-height: 17px;
    margin-top: 50px;
}
/** CTA section**/
.CTA-section{
    display: flex;
    height: 518px;
    margin-bottom: 128px;
}
.CTA-section img{
    width: 50%;
    object-fit: cover;
    
}
.CTA-right{
    background-color: #F58A07;
    color: #fff;
    text-align:left ;
    padding-top: 128px;
    padding-left: 128px;
    width: 50%;
}
.CTA-right h1{
    font-size: 48px;
    line-height: 56px;
    margin-right: 300px;
    margin-top: 0;
}
.CTA-right .CTA-buttom{
    background-color: #fff;
    color: #F58A07;
    padding: 18px 32px 19px 32px;
    border-radius: 31px;
    display: inline-block;
}
/*Video scetion*/
.video-section{
    margin-bottom:128px ;
}
.video-con{
    display: flex;
    height: 501px;
}
.video-sec-tit{
    margin-right: 110px;
}
.video-sec-tit h2{
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.video-sec-tit p{
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
}
.person{
    display: flex;
}
.person img{
    width: 80px;
    height: 80px;
    margin-right: 24px;
}
.person .person-name{
    color: #063255;
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    margin: 0;
}
.person .person-major{
    color: #F58A07;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.per-video-left{
    position: relative;
}
.per-video-left .play-icon{
    position: absolute;
    left:40px;
    bottom: 40px;
}
/* latest section*/
.latest-section{
    background-color: #DCEAF5;
    padding-top: 90px;
    padding-bottom: 90px;
}
.blog-items{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-bottom: 100px;
}
.latest-section .latest-tit{
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.latest-section .blog-item{
    border-radius: 20px;
    background-color: #fff;
    width: 400px;
}
.blog-item img{
    border-radius:20px 20px 0 0 ;
}
.blog-item-text{
    margin:  0 32px 32px;
}
.blog-item .info-tit{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #0D1317;
}
.blog-item .info-text{
    font-weight: 500;
    line-height: 28px;
    color: #5B5B5B;
}
.blog-item .info-buttom{
    color: #F58A07;
    font-weight: 500;
    line-height: 17px;
}



